<div class="container" style="line-height:100%">
    <form class="form-horizontal" role="form">
        <h2>Registration Form</h2>
        <div class="form-group">
            <label for="firstName" class="col-lg-3 control-label">Full Name</label>
            <div class="col-lg-9">
                <input type="text" id="fullName" placeholder="Full Name" class="form-control" autofocus>
                <span class="help-block">First Last, eg.: Jedda Knights</span>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-lg-3 control-label">Email</label>
            <div class="col-lg-9">
                <input type="email" id="email" placeholder="Email" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-lg-3 control-label">Password</label>
            <div class="col-lg-9">
                <input type="password" id="password" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="birthDate" class="col-lg-3 control-label">Date of Birth</label>
            <div class="col-lg-9">
                <input type="date" id="birthDate" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
                <div class="checkbox">
                    <label>
                                <input type="checkbox">I accept <a href="#">terms</a>
                            </label>
                </div>
            </div>
        </div>
        <!-- /.form-group -->
        <div *ngIf="registerFail" class="alert alert-danger" role="alert">
            {{serverResponse}}
        </div>
        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
                <button class="btn btn-lg btn-success btn-block" type="button" (click)="onRegister()">Register</button>
            </div>
        </div>
    </form>
    <!-- /form -->
</div>
<!-- ./container -->