<div class="container">
    <div class="row note-animation">
        <div class="typing-slider pt-5 mt-5 mb-5">
            <p>Welcome to Noteriety</p>
            <p>Your new favorite study buddy!</p>
        </div>
    </div>
    <div class="row">
        <div class="app-description mt-5">
            <h1 class="h3">
                Noteriety is an application primarily aimed at allowing users to create notes, flashcards, and quizzes which can be used as study aids for various courses
            </h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="wrapper">

            <div class="wrapper-office">

                <div class="box-wrapper">

                    <div class="light-wrapper">

                        <div class="light-one">

                        </div>

                        <div class="light-two">

                        </div>

                        <div class="light-three">

                        </div>
                        <div class="light-four">

                        </div>

                        <div class="light-five">

                        </div>
                    </div>

                </div>


                <div class="hold-flower">

                    <div class="box-flower">

                    </div>

                    <div class="flower">

                        <div class="one-flower">

                        </div>


                    </div>

                </div>


                <div class="laptop">


                    <div class="laptop-light">

                    </div>



                </div>



                <div class="guy-box">

                    <div class="head">
                        <div class="ear-left">

                        </div>
                        <div class="ear-right">

                        </div>

                        <div class="eye-borrow">

                        </div>

                        <div class="eye-left">

                            <div class="inside-eye">

                            </div>

                        </div>
                        <div class="eye-right">

                            <div class="inside-eye">

                            </div>
                        </div>

                        <div class="glasses">

                        </div>

                        <div class="nose">


                        </div>

                        <div class="mouth">


                        </div>
                    </div>

                    <div class="body">

                    </div>


                </div>

                <div class="coffee-box">

                    <div class="hot-sign">

                    </div>

                </div>


                <div class="books">

                    <div class="book-one">

                    </div>

                    <div class="book-two">

                    </div>

                    <div class="book-three">

                    </div>
                </div>


                <div class="office-table">

                </div>

                <div class="clock">

                    <div class="clock-one">

                    </div>

                </div>

                <div class="backward position1">

                </div>
                <div class="backward position2">

                </div>
                <div class="backward position3">

                </div>
                <div class="backward position4">

                </div>
                <div class="backward position5">

                </div>

                <div class="backward position6">

                </div>
                <div class="backward position7">

                </div>
                <div class="backward position8">

                </div>
                <div class="backward position9">

                </div>
                <div class="backward position10">

                </div>

            </div>
        </div>
    </div>
    <div class="row mb-5 ml-5 pb-5">
        <h3 class="h1 text-bold app-description ">
            <p class="mb-5 text-success"><i class="far fa-hand-point-up"></i></p>
            Log in or Sign up to get started
        </h3>
    </div>
</div>