<form class="form-signin pt-5 mt-5" novalidate>
    <!-- <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->

    <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>
    <label for="username" class="sr-only">Username</label>
    <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="username" autofocus required>
    <label for="password" class="sr-only">Password</label>
    <input type="password" class="form-control" placeholder="Password" name="username" [(ngModel)]="password" required>
    <div *ngIf="loginFail" class="alert alert-danger" role="alert">
        {{serverResponse}}
    </div>
    <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-success btn-block" type="button" (click)="onLogin()">Log in</button>
</form>