/* User profile Styles ***********************************************/

.user-profile-card {
    width: 80%;
    height: auto;
    padding: 3rem;
    margin: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 20px;
    font-family: 'Comfortaa', cursive;
    align-content: center;
}

.user-image {
    font-size: 5rem;
}

.user-profile {
    background-color: rebeccapurple;
}

body,
.badgescard,
.firstinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    background: #30a64a;
    font-size: 16px;
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.content {
    position: relative;
    animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
    margin: 6.5rem;
}

.card {
    width: 850px;
    min-height: 100px;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.card:after {
    content: '';
    display: block;
    width: 190px;
    height: 300px;
    background: #25a2b7;
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.badgescard {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #FDC02F;
    width: 830px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: -1;
    left: 10px;
    bottom: 10px;
    animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
}

.badgescard span {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
}

.firstinfo {
    flex-direction: row;
    z-index: 2;
    position: relative;
}

.firstinfo img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.firstinfo .profileinfo {
    padding: 0px 20px;
}

.firstinfo .profileinfo h1 {
    font-size: 1.8em;
}

.firstinfo .profileinfo h3 {
    font-size: 1.2em;
    color: #30a64a;
    font-style: italic;
}

.firstinfo .profileinfo p.bio {
    padding: 10px 0px;
    color: #5A5A5A;
    line-height: 1.2;
    font-style: initial;
}

@keyframes animatop {
    0% {
        opacity: 0;
        bottom: -500px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes animainfos {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: -42px;
    }
}

@keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: -24px;
        left: -253px;
    }
    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
}


/* Notes Styles ***********************************************/

.box {
    height: 185px;
    width: 280px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.note {
    background-color: rgba(8, 8, 8, 0.7);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 85%;
    width: 45%;
    margin: auto;
    margin-top: 2%;
    margin-left: 20px;
    position: absolute;
    word-wrap: break-word;
}


/* .note2 {
    background-color: rgb(31%, 20%, 18%, 0.7);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 85%;
    width: 45%;
    margin: auto;
    margin-top: 2%;
    margin-left: 20px;
    position: absolute;
}

.note1 {
    background-color: rgb(26%, 26%, 26%, 0.7);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 85%;
    width: 45%;
    margin: auto;
    margin-top: 2%;
    margin-left: 20px;
    position: absolute;
} */

.strap {
    background-color: #1f2123;
    border-radius: 10px;
    height: 100%;
    width: 5%;
    position: absolute;
    margin-left: 85%;
}

.paper {
    background-color: #cdcdbe;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border: #161416 5px solid;
    border-left: #161416 15px solid;
    height: 84%;
    width: 43.5%;
    margin: auto;
    margin-top: 2.5%;
    margin-left: 35px;
    position: absolute;
}

.new-paper {
    background-color: #cdcdbe;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border: #161416 5px dashed;
    border-left: #161416 5px dashed;
    height: 84%;
    width: 43.5%;
    margin: auto;
    margin-top: 2.5%;
    margin-left: 35px;
    position: absolute;
    word-wrap: break-word;
}

.new-note {
    background-color: rgb(75%, 12%, 14%, 0.7);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 85%;
    width: 45%;
    margin: auto;
    margin-top: 2%;
    margin-left: 20px;
    position: absolute;
}

a.text-viewall {
    color: rgb(0%, 63%, 71%);
    font-style: italic;
}

a.text-viewall:hover {
    cursor: pointer;
    color: rgb(94%, 70%, 25%);
}