<div *ngIf="user">
    <div class="user-profile">
        <div class="container">
            <div class="col-xs-12 user-profile">
                <div class="row">
                    <div class="content">
                        <div class="card">
                            <div class="firstinfo"><img src="{{user.profile_picture}}" />
                                <div class="profileinfo">
                                    <h1>{{user.first_name}} {{user.last_name}}</h1>
                                    <h5 class="text-muted">@{{user.username}}</h5>
                                    <h3>{{user.status}}</h3>
                                    <p class="bio">{{user.short_description}}</p>
                                    <p class="member-date text-muted pt-5"><i>Member since: {{user.join_date}}</i></p>
                                </div>
                            </div>
                        </div>
                        <div class="badgescard">Notes<span class="badge badge-secondary">{{user.notes.length}}</span>Flashcards<span class="badge badge-secondary">{{user.flashcards.length}}</span>Quizzes<span class="badge badge-secondary">0</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ADD user notes.. quizzes etc here-->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <h2 data-toggle="collapse" data-target="#collapseNotes" aria-expanded="false" aria-controls="collapseNotes">Notebooks</h2>
                    <hr>
                    <div class="mb-5" id="collapseNotes">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="main-content">
                                    <div class="moleskine-wrapper" *ngFor="let note of notes">
                                        <div class="moleskine-notebook">
                                            <div class="notebook-cover blue">
                                                <div class="notebook-skin">{{note.subject}}</div>
                                            </div>
                                            <div class="notebook-page ruled"></div>
                                        </div>
                                    </div>
                                    <div routerLink="/notebook" class="moleskine-wrapper pt-5 mt-5 text-viewall">
                                        <a class="text-viewall">VIEW ALL</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 data-toggle="collapse" data-target="#collapseFlashcards" aria-expanded="false" aria-controls="collapseFlashcards">Flashcards</h2>
                    <hr>
                    <div *ngIf="flashcards.length > 0" class="mb-5" id="collapseFlashcards">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="flashcard-content">
                                    <span class="mt-3 mb-3 ml-5 card text-white bg-dark" style="max-width: 18rem;" *ngFor="let flashcard of flashcards">
                                        <div class="card-header">{{flashcard.subject}}</div>
                                            <div class="card-body">
                                            <h5 class="card-title">{{flashcard.question}}</h5>
                                            <p class="card-text">{{flashcard.answer}}</p>
                                        </div>
                                    </span>
                                    <div routerLink="/flashcards" class="moleskine-wrapper pt-5 mt-5 text-viewall">
                                        <a class="text-viewall">VIEW ALL</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 data-toggle="collapse" data-target="#collapseQuizzes" aria-expanded="false" aria-controls="collapseQuizzes">Quizzes</h2>
                    <hr>
                    <div class="mb-5" id="collapseQuizzes">5 Recent Quiz Sets</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--CSS Style Credits -->
<!--code from https://codepen.io/genarocolusso/pen/xONEXg?limit=all&page=2&q=user+profile -->
<!--code from https://codepen.io/oliviale/pen/bLYQQE -->