<div *ngIf="user">
    <div class="user-profile">
        <div class="container">
            <div class="col-xs-12 user-profile">
                <div class="row">
                    <div class="content">
                        <div class="card">
                            <div class="firstinfo"><img src="{{user.profile_picture}}" />
                                <div class="profileinfo">
                                    <h1>{{user.first_name}} {{user.last_name}}</h1>
                                    <h5 class="text-muted">@{{user.username}}</h5>
                                    <h3>{{user.status}}</h3>
                                    <p class="bio">{{user.short_description}}.</p>
                                    <!-- <p class="bio">Member since: {{user.join_date}}.</p>-->
                                </div>
                            </div>
                        </div>
                        <div class="badgescard">Notes<span class="badge badge-secondary">{{user.notes.length}}</span>Flashcards<span class="badge badge-secondary">23</span>Quizzes<span class="badge badge-secondary">3</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ADD user notes.. quizzes etc here-->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <h2 data-toggle="collapse" data-target="#collapseNotes" aria-expanded="false" aria-controls="collapseNotes">Notebooks</h2>
                    <hr>
                    <div class="mb-5" id="collapseNotes">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="main-content">
                                    <div class="moleskine-wrapper" *ngFor="let note of notes">
                                        <div class="moleskine-notebook">
                                            <div class="notebook-cover blue">
                                                <div class="notebook-skin">{{note.subject}}</div>
                                            </div>
                                            <div class="notebook-page ruled"></div>
                                        </div>
                                    </div>
                                    <div routerLink="/notebook" class="moleskine-wrapper pt-5 mt-5 text-viewall">
                                        <a class="text-viewall">VIEW ALL</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 data-toggle="collapse" data-target="#collapseFlashcards" aria-expanded="false" aria-controls="collapseFlashcards">Flashcards</h2>
                    <hr>
                    <div class="mb-5" id="collapseFlashcards">5 Recent Flashcards</div>
                </div>
                <div>
                    <h2 data-toggle="collapse" data-target="#collapseQuizzes" aria-expanded="false" aria-controls="collapseQuizzes">Quizzes</h2>
                    <hr>
                    <div class="mb-5" id="collapseQuizzes">5 Recent Quiz Sets</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--CSS Style Credits -->
<!--code from https://codepen.io/genarocolusso/pen/xONEXg?limit=all&page=2&q=user+profile -->
<!--code from https://codepen.io/oliviale/pen/bLYQQE -->