<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<app-topnav></app-topnav>

<div class="row">
    <div class="column">
            <a routerLink="/Notebook"><div class="card">
                <div class="container">
                    <h4><b>Notebook</b></h4> 
                    <p>{{ str }}</p> 
                </div>
            </div></a>
    </div>
    <div class="column">
            <a routerLink="/Flashcards"><div class="card">
                <div class="container">
                    <h4><b>Flashcards</b></h4> 
                    <p>{{ str }}</p> 
                </div>
            </div></a>
    </div>
</div>
<div class="row">
    <div class="column">
            <a routerLink="/Take-Notes"><div class="card">
                <div class="container">
                    <h4><b>Take Notes</b></h4> 
                    <p>{{ str }}</p> 
                </div>
            </div></a>
    </div>
    <div class="column">
            <a routerLink="/Home"><div class="card">
                <div class="container">
                    <h4><b>Create Flashcards</b></h4> 
                    <p>{{ str }}</p> 
                </div>
            </div></a>
    </div>
</div>