.column {
    float: left;
    width: 50%;
    padding: 20px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    margin: auto;
    text-decoration: none;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 50px 20px;
    text-align: center;
    -webkit-text-fill-color: antiquewhite;
    text-decoration: none;
    background-color: #e90a0a;
    border-radius: 20px;
}
