<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-3">
            <div class="menu-box">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-notes-tab" data-toggle="pill" href="#v-pills-notes" role="tab" aria-controls="v-pills-notes" aria-selected="true"><span class="mr-2"><i class="far fa-list-alt"></i></span>All Notebooks</a>
                    <a class="nav-link" id="v-pills-shared-notes-tab" data-toggle="pill" href="#v-pills-shared-notes" role="tab" aria-controls="v-pills-shared-notes" aria-selected="false"> <span class="mr-2"><i class="fas fa-share-alt"></i></span>Shared Notebooks</a>
                    <a class="nav-link" id="v-pills-add-note-tab" data-toggle="pill" href="#v-pills-add-note" role="tab" aria-controls="v-pills-add-note" aria-selected="false"><span class="mr-2"><i class="fas fa-plus-circle"></i></span>Add a New Notebook</a>
                </div>
            </div>
        </div>
        <div class="col-9 mb-5 pb-5">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-notes" role="tabpanel" aria-labelledby="v-pills-notes-tab">
                    <div class="menu-box">
                        <div>
                            <ul class="Notes">
                                <div *ngFor="let note of notes">
                                    <div>
                                        <h4>{{note.subject}}</h4>
                                    </div>
                                    <div>
                                        <h6 class="text-primary"><i>{{note.title}}</i></h6>
                                    </div>
                                    <p>{{note.body}}</p>
                                    <hr>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-shared-notes" role="tabpanel" aria-labelledby="v-pills-shared-notes-tab">
                    <div class="menu-box">list of share notes</div>
                </div>
                <div class="tab-pane fade" id="v-pills-add-note" role="tabpanel" aria-labelledby="v-pills-add-note-tab">
                    <div class="menu-box">
                        <app-add-note></app-add-note>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>